* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --spacing: 32px;
  --section-size: 160px;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: var(--spacing);

  max-width: 512px;
  margin: 0 auto;
  margin-top: 64px;
  padding: var(--spacing);

  background-color: #d8e2dc;
  border-radius: 48px;
}

main {
  margin-bottom: var(--spacing);
}

section {
  width: var(--section-size);
  height: var(--section-size);
  padding: var(--spacing);
  background-color: white;
  border-radius: 32px;
}

h1 {
  font-size: 32px;
  text-align: center;
}
#temperature {
  font-size: 64px;
}

footer {
  margin-top: var(--spacing);
  text-align: center;
}
#forecast {
  line-height: 1.5;
}
#forecast h1 {
  text-align: left;
}

#location lottie-player,
#location h1 {
  position: relative;
  top: -32px;
}
