@media only screen and (min-width: 383px) and (max-width: 540px) {
  main {
    border-radius: 0;
    margin-top: 0;
  }
  section {
    width: 25%;
    height: 80px;
  }
  h1 {
    font-size: 20px;
  }
  h1#city {
    font-size: 20px;
  }
  #temperature {
    font-size: 46px;
  }

  #icon lot22e-player {
    height: 200px;
  }
}
